calligra-l10n-ca-2.5.2.tar.bz2
calligra-l10n-el-2.5.2.tar.bz2
calligra-l10n-en_GB-2.5.2.tar.bz2
calligra-l10n-es-2.5.2.tar.bz2
calligra-l10n-et-2.5.2.tar.bz2
calligra-l10n-fi-2.5.2.tar.bz2
calligra-l10n-fr-2.5.2.tar.bz2
calligra-l10n-gl-2.5.2.tar.bz2
calligra-l10n-hu-2.5.2.tar.bz2
calligra-l10n-it-2.5.2.tar.bz2
calligra-l10n-ja-2.5.2.tar.bz2
calligra-l10n-kk-2.5.2.tar.bz2
calligra-l10n-nb-2.5.2.tar.bz2
calligra-l10n-nds-2.5.2.tar.bz2
calligra-l10n-nl-2.5.2.tar.bz2
calligra-l10n-pl-2.5.2.tar.bz2
calligra-l10n-pt-2.5.2.tar.bz2
calligra-l10n-pt_BR-2.5.2.tar.bz2
calligra-l10n.rpmlintrc
calligra-l10n-ru-2.5.2.tar.bz2
calligra-l10n-sk-2.5.2.tar.bz2
calligra-l10n-sv-2.5.2.tar.bz2
calligra-l10n-template.in
calligra-l10n-uk-2.5.2.tar.bz2
calligra-l10n-zh_CN-2.5.2.tar.bz2
calligra-l10n-zh_TW-2.5.2.tar.bz2
